{{> header }}

<main>
  <div class="banner-home">
    <img src="images/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" class="logo" width="800" height="250">
  </div>
  
  <div class="home">
    <div class="home-top">
  <h1>Calling all craft beer lovers!</h1>
      <br>
    <h2>Welcome to The Crafty Hop Hunter, where all your craft beer needs now lie at the tips of your fingertips.</h2>
      <br>
    <img src="images/home-taps.png" alt="Row of Taps" width="400" height="300">
    </div>

  <aside class="home-aside">
    <img src="images/home-glass-beer.png" alt="Single Glass of Beer" width="400" height="300">
    <h1>JUST ONE TAP.</h1>
    <button href="/login" class="login-button" type="submit">LOGIN</button>
  </aside>

  <div class="home-bottom">
    <p>We believe that craft beer and the sense of community it evokes go hand in hand—and that a strong community is vital to any city. So, we committed to making the search with just one tap!</p>
      <br> 
    <p>Whether a life-long beer enthusiast or a craft beer-newbie, our goal is for everyone to discover the beauty (and deliciousness) of craft beer…and to go out and experience it firsthand! Let us do the heavy lifting and remember, your new favorite hop might be closer than you think.</p>
  </div>
</div>
</main>

{{> footer}}





//orignial index.handlebars in case anything is missing//
//<main>
//  <h2>Items for Sale</h2>
//  <section id="saleItems">
//    {{#each items}}
//      <a href="/product/{{id}}" class="sale-item">
//        <div class="item-img-container">
//          <img src="images/{{image}}" alt="{{name}}" />
//          <p>{{description}}</p>
//        </div>
//        <p>{{name}}</p>
//        <p>${{price}}</p>
//      </a>
//    {{/each}}
//  </section>
//</main>





//original shop.html code in case anything is missing//
//<!DOCTYPE html>
//<html lang="en">
//<head>
//    <meta charset="UTF-8">
//    <meta http-equiv="X-UA-Compatible" content="IE=edge">
//    <meta name="viewport" content="width=device-width, initial-scale=1.0">
//    <title>The Crafty Hop Hunter</title>
//    <link rel="preconnect" href="https://fonts.googleapis.com">
//    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
//    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display">
//    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
//    <link rel="stylesheet" href="style.css">
//    <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>

//</head>
//<body>
//  <header>
//    <div class="hop-logo">
//        <img class="hop-circle-logo" src="crafty_hop_assets/hop-logo-mark.png" alt="The Crafty Hop Hunter Logo" width="200" height="150">
//    </div>
//    <nav class="navbar">
//        <div class="logo_header">
//          <a href="#" class="logo"></a>
//          <button class="navbar_toggle">
//            <i class="fas fa-bars"></i>
//          </button>
//        </div>
//        
//        <ul class="main_nav">
//          <li>
//            <a href="index.html" class="nav_links">HOME</a>
//          </li>
//          <li>
//            <a href="search.html" class="nav_links">SEARCH</a>
//          </li>
//          <li>
//            <a href="recipes.html" class="nav_links">RECIPES</a>
//          </li>
//          <li>
//            <a href="shop.html" class="nav_links">SHOP</a>
//          </li>
//          <li>
//            <a href="login.html" class="nav_links">LOGIN</a>
//          </li>
//        </ul>
//    </nav>
//    <div class="social-sidebar">
//        <div class="instagram-logo">
//            <img src="crafty_hop_assets/instagram-logo.png" alt="Instagram Logo"width="40" height="40">
//        </div>
//        <div class="facebook-logo">
//            <img src="crafty_hop_assets/facebook-logo.png" alt="Facebook Logo" width="40" height="40">
//        </div>
//     </div>    
//</header>
//    <main>
//        <div class="banner-about">
//            <img src="crafty_hop_assets/hop-logo-main.png" alt="The Crafty Hop Hunter Full Logo" width="800" height="250">
//        </div>
//        <section class="about">
//          <h1>ABOUT</h1>
//          <br>
//          <br>  
//          <h2>Calling all craft beer lovers!</h2>
//            <br>
//            <h2>Welcome to The Crafty Hop Hunter, where all your craft beer needs now lie at the tips of your fingertips.</h2>
//            <br>
//            <p>We believe that craft beer and the sense of community it evokes go hand in hand—and that a strong community is vital to any city. So, we committed to making the search with just one tap! Whether a life-long beer enthusiast or a craft beer-newbie, our goal is for everyone to discover the beauty (and deliciousness) of craft beer…and to go out and experience it firsthand! Let us do the heavy lifting and remember, your new favorite hop might be closer than you think.</p>
//        </section> 
//    </main>
//    <footer>
//        <p>©2022 The Crafty Hop Hunter</p>
//    </footer>
//      <script src="hamburger.js"></script>
//</body>
//</html>
